.row
    .col.s12
        h5 Listado de donaciones
.row
    .col.s12
        .container
            .row
                .col.s12.teal.p-2.lighten-2.white-text
                    span Solamente se muestran las donaciones hechas a través de la plataforma.