
<div class="row">
  <div class="col s12">
    <h5>Listado de donaciones</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="container">
      <div class="row">
        <div class="col s12 teal p-2 lighten-2 white-text center-align"><span>Solamente se muestran las donaciones hechas a través de la plataforma.</span></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input type="text" id="search" (keyup)="onFilter(search.value)" #search=""/>
    <label for="search">Buscar donación</label>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="'auto'" [limit]="10" [rowHeight]="'auto'" [reorderable]="reorderable" #table="" [messages]="messages"></ngx-datatable>
    <ng-template #dateTemplate="" let-row="row" let-value="value"><span>{{ value | amLocale: 'es' | amDateFormat: 'DD/MM/YYYY' }}</span></ng-template>
  </div>
</div>