gallery(id="postGallery", [items]="images", [thumb]="false", [autoPlay]="true", [counter]="false", [playerInterval]="5000",
    [imageSize]="contain", [itemTemplate]="itemTemplate", *ngIf="posts.length > 0")
ng-template(#itemTemplate="", let-index="index", let-type="type", let-data="data", let-currIndex="currIndex", *ngIf="posts.length > 0")
    .row.bottom-align(*ngIf="type === 'image' && index === currIndex")
        .col.s12.left-align
            h4 {{ data.title }}
        .col.s12.left-align
            a.btn.waves-effect.bg-primary.white-text((click)="postService.goToDetail(data.uid)") Ver Más

.container.min-height-100vh
    .row(*ngIf="posts.length <= 0")
        .col.s12.center-align.text-primary.p-top-5
            h4 ¡Lo sentimos!, aún no tenemos noticias, vuelve pronto.
    .row(*ngIf="posts.length > 0")
        .col.s12.m6.l4.m-top-30p(*ngFor="let post of posts")
            .card.medium
                .card-image
                    img([src]="post.main_image.url")
                    span.card-title {{ post.title }}
                .card-content
                    .text-justify([innerHtml]="post.content")
                .card-action
                    a.left.text-primary.cursor-pointer((click)="postService.goToDetail(post.uid)") Ver más
                    span.right {{ post.date }}