gallery(id="postGallery", [thumb]="false", [autoPlay]="true", [counter]="false", [playerInterval]="5000",
    [imageSize]="contain", [itemTemplate]="itemTemplate", *ngIf="posts.length > 0")

ng-template(#itemTemplate="", let-index="index", let-type="type", let-data="data", let-currIndex="currIndex")
    .row.bottom-align.w-100.bg-black-transparency(*ngIf="type === 'image' && index === currIndex")
        .container
            .row
                .col.s12
                    h4 {{ data.title }}
                .col.s12
                    a.btn.waves-effect.bg-primary.white-text((click)="postService.goToDetail(data.uid)") Ver Más

.container.min-height-100vh
    // Pets
    .row(*ngIf="pets.length > 0")
        .col.s12.text-primary.m-top-30p
            h5 Nuevos integrantes
    .row(*ngIf="pets.length > 0")
        .col.s12.m6
            .col.s12.hvr-grow.m-top-10p.cursor-pointer.pet-card-1(
                [style.backgroundImage]="'url(' + pets[0].images[0].url + ')'",
                (click)="petService.goToDetail(pets[0].uid)")
                .container
                    .row.pet-card-detail.w-100
                        .col.s12.white-text
                            h5 {{ pets[0].name }}
        .col.s12.m6
            .col.s12.hvr-grow.m-top-10p.cursor-pointer.pet-card-2(
                [style.backgroundImage]="'url(' + pets[1].images[0].url + ')'",
                (click)="petService.goToDetail(pets[1].uid)", *ngIf="pets.length > 1")
                .container
                    .row.pet-card-detail.w-100
                        .col.s12.white-text
                            h5 {{ pets[1].name }}
            .col.s12.hvr-grow.m-top-10p.cursor-pointer.pet-card-2(
                [style.backgroundImage]="'url(' + pets[2].images[0].url + ')'",
                (click)="petService.goToDetail(pets[2].uid)", *ngIf="pets.length > 2")
                .container
                    .row.pet-card-detail.w-100
                        .col.s12.white-text
                            h5 {{ pets[2].name }}
    .row(*ngIf="pets.length > 0")
        .col.s12.center-align.m-top-10p
            a.text-primary.cursor-pointer([routerLink]="['/pet']") Ver todas las mascotas

    // Posts
    .row(*ngIf="posts.length > 0")
        .col.s12.text-primary.m-top-30p
            h5 Artículos
    .row(*ngIf="posts.length > 0")
        .col.s12.m6.l4.m-top-10p.cursor-pointer(*ngFor="let post of posts", (click)="postService.goToDetail(post.uid)")
            .card.medium
                .card-image([style.backgroundImage]="'url(' + post.main_image.url + ')'")
                .card-content
                    span.grey-text.lighten-4 {{ post.date | amLocale: 'es' | amDateFormat: 'LL' }}
                    br
                    br
                    span.card-title {{ post.title }}