
<gallery [items]="images" [thumb]="false" [autoPlay]="true" [counter]="false" [playerInterval]="5000" [imageSize]="contain" [itemTemplate]="itemTemplate"></gallery>
<ng-template #itemTemplate="" let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
  <div class="container h-100" *ngIf="type === 'image' &amp;&amp; index === currIndex">
    <div class="row bottom-align">
      <div class="col s12 left-align">
        <h4>{{ data.title }}</h4><a class="btn btn-block waves-effect bg-primary white-text waves-block">Ver Más</a>
      </div>
    </div>
  </div>
</ng-template>
<div class="container min-height-100vh"></div>