.container.min-height-100vh
    .row.m-top-30p
        .col.s12
            h5 Apadrina todas las mascotas
    .row
        .col.s12
            p.text-justify
                | Para nosotros es muy importante brindar apoyo a todas las mascotas, es por eso que el proceso de
                | apadrinar una mascota en Milagros del Rincón significa poder ayudar en cualquiera de las siguientes
                | situaciones:
    .row.m-top-50p
        .col.s12.m3.center-align
            i.fa.fa-map-marker.text-primary.fa-4x
            br
            br
            span Visitas a nuestro hogar
        .col.s12.m3.center-align
            i.fa.text-primary.fa-4x.fa-paint-brush
            br
            br
            span Ayuda en mantenimiento del mismo
        .col.s12.m3.center-align
            i.fa.text-primary.fa-4x.fa-paw
            br
            br
            span Paseos con nuestros pequeñines
        .col.s12.m3.center-align
            i.fa.text-primary.fa-4x.fa-gift
            br
            br
            span Apoyo económico (donaciones)
    .row.m-top-50p
        .col.s12
            p.text-justify
                | Para visitas, ayuda en mantenimiento y paseos con nuestros pequeñines puedes acudir directamente a
                | nuestro hogar,&nbsp;
                a.text-primary([routerLink]="['/informacion']") aquí.
            p.text-justify
                | Para apoyarnos a través de donaciones,&nbsp;
                a.text-primary([routerLink]="['/donar']") aquí.