
<div class="container min-height-100vh">
  <div class="row m-top-30p">
    <div class="col s12">
      <h5>Apadrina todas las mascotas</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="text-justify">
        Para nosotros es muy importante brindar apoyo a todas las mascotas, es por eso que el proceso de
        apadrinar una mascota en Milagros del Rincón significa poder ayudar en cualquiera de las siguientes
        situaciones:
      </p>
    </div>
  </div>
  <div class="row m-top-50p">
    <div class="col s12 m3 center-align"><i class="fa fa-map-marker text-primary fa-4x"></i><br/><br/><span>Visitas a nuestro hogar</span></div>
    <div class="col s12 m3 center-align"><i class="fa text-primary fa-4x fa-paint-brush"></i><br/><br/><span>Ayuda en mantenimiento del mismo</span></div>
    <div class="col s12 m3 center-align"><i class="fa text-primary fa-4x fa-paw"></i><br/><br/><span>Paseos con nuestros pequeñines</span></div>
    <div class="col s12 m3 center-align"><i class="fa text-primary fa-4x fa-gift"></i><br/><br/><span>Apoyo económico (donaciones)</span></div>
  </div>
  <div class="row m-top-50p">
    <div class="col s12">
      <p class="text-justify">
        Para visitas, ayuda en mantenimiento y paseos con nuestros pequeñines puedes acudir directamente a
        nuestro hogar,&nbsp;<a class="text-primary" [routerLink]="['/informacion']">aquí.</a>
      </p>
      <p class="text-justify">Para apoyarnos a través de donaciones,&nbsp;<a class="text-primary" [routerLink]="['/donar']">aquí.</a></p>
    </div>
  </div>
</div>