.container.min-height-100vh
    .row.m-top-30p
        .col.s12
            h5 Una cosa más...
    .row
        .col.s12
            p.text-justify
                | Es muy importante para nosotros saber que nuestras mascotas estarán en un hogar responsable una vez
                | que son adoptadas, es por eso que te pedimos que nos envíes algunas fotografías del lugar en el
                | que estará nuestro pequeñin, con el fin de garantizarle una vida feliz...
    .row
        .input-field.col.s12
            label(for="photos") Te pedimos que las fotografías sean lo más claras posibles para evaluar de mejor manera el espacio
    .row
        .col.s12
            input-file(id="photos", name="photos", [(ngModel)]="photosList", [fileAccept]="'image/*'", [fileLimit]="10",
                [sizeLimit]="2", (rejectedFile)="utilsService.rejectedFile()")
    .row.m-top-50p.p-bottom-5
        .col.s12
            a.btn.btn-block.waves-effect.bg-primary.white-text.waves-block((click)="send()") Enviar solicitud
    .row
        .col.s12(id="html-inserted")