
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper p-left-5 p-right-5"><img class="cursor-pointer brand-logo" src="assets/img/logo-2.png"/>
      <ul class="right hide-on-med-and-down" id="nav-mobile">
        <li [routerLinkActive]="'active'"><a class="cursor-pointer" [routerLink]="['/']">Inicio</a></li>
        <li [routerLinkActive]="'active'"><a class="cursor-pointer" [routerLink]="['/pets']">Mascotas</a></li>
        <li [routerLinkActive]="'active'"><a class="cursor-pointer" [routerLink]="['/gift']">Donar</a></li>
        <li [routerLinkActive]="'active'"><a class="cursor-pointer" [routerLink]="['/milagros']">¿Quiénes somos?</a></li>
        <li [routerLinkActive]="'active'"><a class="cursor-pointer" [routerLink]="['/login']">Iniciar sesión</a></li>
      </ul>
    </div>
  </nav>
</div>