.navbar-fixed
    nav
        .nav-wrapper.p-left-5.p-right-5
            img.cursor-pointer.brand-logo(src="assets/img/logo-2.png")
            ul.right.hide-on-med-and-down(id="nav-mobile")
                li([routerLinkActive]="'active'")
                    a.cursor-pointer([routerLink]="['/home']") Inicio
                li([routerLinkActive]="'active'")
                    a.cursor-pointer([routerLink]="['/pet']") Mascotas
                li([routerLinkActive]="'active'")
                    a.cursor-pointer([routerLink]="['/donate']") Donar
                li([routerLinkActive]="'active'")
                    a.cursor-pointer([routerLink]="['/about']") ¿Quiénes somos?
                li([routerLinkActive]="'active'", *ngIf="!user.email")
                    a.cursor-pointer([routerLink]="['/auth']") Iniciar sesión
                li([routerLinkActive]="'active'", *ngIf="user.email")
                    a.cursor-pointer([routerLink]="[profileRoute]") Mi perfil
                li(*ngIf="user.email")
                    a.cursor-pointer((click)="logout()") Cerrar sesión
