.container.p-top-5.p-bottom-5
    .row(*ngIf="donations?.length <= 0")
        .col.s12.center-align
            h5.text-primary No se han hecho solicitudes para donar artículo(s)

    ng-container(*ngIf="donations?.length > 0")
        .row
            .col.s12
                h5 Donaciones de artículo(s)
        .row
            .col.s12
                ul.collection
                    li.collection-item.avatar.cursor-pointer.no-list-item-padding(*ngFor="let donation of noCollectedDonations",
                        (click)="donateService.goToDetail(donation.uid)")
                        span.title {{ donation?.name }}
                        p.grey-text.lighten-4
                            | {{ donation?.email }}
                            br
                            | {{ donation?.date | amLocale: 'es' | amDateFormat: 'LL' }}
                        a.secondary-content
                            i.fa.fa-1-5x.fa-circle.waiting-color(matTooltip="No se ha aprobado", [matTooltipPosition]="'above'",
                                *ngIf="!donation?.approved")
                            i.fa.fa-1-5x.fa-circle.orange-text(matTooltip="No se ha recogido", [matTooltipPosition]="'above'",
                                *ngIf="donation?.approved")
                    li.collection-item.avatar.cursor-pointer.no-list-item-padding(*ngFor="let donation of collectedDonations",
                        (click)="donateService.goToDetail(donation.uid)")
                        span.title {{ donation?.name }}
                        p.grey-text.lighten-4
                            | {{ donation?.email }}
                            br
                            | {{ donation?.date | amLocale: 'es' | amDateFormat: 'LL' }}
                        a.secondary-content
                            i.fa.fa-1-5x.fa-circle.success-color(matTooltip="Donación aprobada y recogida", [matTooltipPosition]="'above'")
