
<div class="container p-top-5 p-bottom-5">
  <div class="row" *ngIf="donations?.length &lt;= 0">
    <div class="col s12 center-align">
      <h5 class="text-primary">No se han hecho solicitudes para donar artículo(s)</h5>
    </div>
  </div>
  <ng-container *ngIf="donations?.length &gt; 0">
    <div class="row">
      <div class="col s12">
        <h5>Donaciones de artículo(s)</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collection">
          <li class="collection-item avatar cursor-pointer no-list-item-padding" *ngFor="let donation of noCollectedDonations" (click)="donateService.goToDetail(donation.uid)"><span class="title">{{ donation?.name }}</span>
            <p class="grey-text lighten-4">{{ donation?.email }}<br/>{{ donation?.date | amLocale: 'es' | amDateFormat: 'LL' }}</p><a class="secondary-content"><i class="fa fa-1-5x fa-ban waiting-color" matTooltip="No se ha recogido" [matTooltipPosition]="'above'"></i></a>
          </li>
          <li class="collection-item avatar cursor-pointer no-list-item-padding" *ngFor="let donation of collectedDonations" (click)="donateService.goToDetail(donation.uid)"><span class="title">{{ donation?.name }}</span>
            <p class="grey-text lighten-4">{{ donation?.email }}<br/>{{ donation?.date | amLocale: 'es' | amDateFormat: 'LL' }}</p><a class="secondary-content"><i class="fa fa-1-5x fa-check success-color" matTooltip="Donación recogida" [matTooltipPosition]="'above'"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>