.container.min-height-100vh
    .row.m-top-30p
        .col.s12
            h5 Completa tu perfil
    .row
        .col.s12
            form(#adoptForm="ngForm", (submit)="adoptForm.valid && send()")
                .row
                    .input-field.col.s12
                        input(type="text", id="name", name="name", [(ngModel)]="profile.name", #nameInput="ngModel",
                            [required]="true")
                        label(for="name") Nombre
                        span.red-text(*ngIf="adoptForm.submitted && nameInput.errors?.required") Ingresa un nombre válido
                .row
                    .col.s12
                        a.btn.btn-block.waves-effect.bg-primary.white-text.waves-block(type="submit") Continuar