footer.page-footer
    .container
        .row
            .col.s12.center-align
                img.responsive-img.footer-logo(src="assets/img/logo-1.png")
    .footer-copyright
        .container
            .row.m-bottom-0
                .col.s12.m4.center-align.m-top-10p.m-bottom-10p
                    i.fa.fa-1-5x.fa-facebook-official.cursor-pointer
                    | &nbsp;
                    | &nbsp;
                    i.fa.fa-1-5x.fa-instagram.cursor-pointer
                .col.s12.m4.center-align.m-top-10p.m-bottom-10p
                    span Milagros del Rincón © 2018
                .col.s12.m4.center-align.m-top-10p.m-bottom-10p
                    span Designed by CODATOM