
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align"><img class="responsive-img footer-logo" src="assets/img/logo-1.png"/></div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row m-bottom-0">
        <div class="col s12 m4 center-align m-top-10p m-bottom-10p"><a class="white-text" href="https://www.facebook.com/Milagros-del-Rinc%C3%B3n-253644858373668/" target="_blank"><i class="fa fa-1-5x fa-facebook-official"></i></a>
          <!--| &nbsp;-->
          <!--| &nbsp;-->
          <!--i.fa.fa-1-5x.fa-instagram.cursor-pointer-->
        </div>
        <div class="col s12 m4 center-align m-top-10p m-bottom-10p"><span>Milagros del Rincón © 2018</span></div>
        <div class="col s12 m4 center-align m-top-10p m-bottom-10p"><span>Desarrollado por&nbsp;<a class="white-text" href="https://twitter.com/leonard_lib" target="_blank">@leonard_lib</a></span></div>
      </div>
    </div>
  </div>
</footer>