
<div class="w-100 h-100" id="image-div"></div>
<div class="w-100 h-100 middle-component">
  <div class="container h-100 valign-wrapper">
    <div class="row m-top-30p">
      <div class="col s12 m8 offset-m2 grey lighten-4 p-5">
        <div class="row valign-wrapper">
          <div class="col s12 m6"><img class="responsive-img" src="assets/img/logo-1.png"/>
            <form class="col s12 m-top-30p">
              <div class="row">
                <div class="col s12 center-align"><span>Puedes registrarte con</span></div>
              </div>
              <div class="row">
                <div class="col s12 m6 m-top-10p"><a class="btn waves-effect blue darken-1 btn-block waves-block p-0" (click)="utilsService.facebookLogin()"><i class="fa fa-facebook"></i>&nbsp;
                    Facebook</a></div>
                <div class="col s12 m6 m-top-10p"><a class="btn waves-effect deep-orange darken-2 btn-block waves-block p-0" (click)="utilsService.googleLogin()"><i class="fa fa-google"></i>&nbsp;
                    Google</a></div>
              </div>
            </form>
          </div>
          <div class="col s12 m6">
            <form class="col s12 m-top-30p" #registerForm="ngForm" (submit)="register()">
              <div class="row">
                <div class="col s12 left-align">
                  <h5 class="text-black">Registro</h5>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="email" id="email" name="email" [(ngModel)]="user.email" #emailInput="ngModel" [email]="true" required="required"/>
                  <label for="email" [class.active]="user?.email">Correo</label><span class="grey-text lighten-4" *ngIf="registerForm.submitted &amp;&amp; emailInput.errors?.required">Ingresa el correo</span><span class="grey-text lighten-4" *ngIf="registerForm.submitted &amp;&amp; emailInput.errors?.email">Ingresa un correo valido</span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="password" id="password" name="password" [(ngModel)]="user.password" #passwordInput="ngModel" required="required"/>
                  <label for="password" [class.active]="user?.password">Contraseña</label><span class="grey-text lighten-4" *ngIf="registerForm.submitted &amp;&amp; passwordInput.errors?.required">Ingresa la contraseña</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <button class="btn waves-effect bg-primary white-text col s12" type="submit">Registrarme</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>