.min-height-100vh
    .row.m-top-30p
        .col.s12.m3
            form
                .row
                    .input-field.col.s12
                        input(type="text", id="search")
                        label(for="search") Buscar mascota
                .row
                    .p.col.s12
                        input.filled-in(type="checkbox", id="hembra")
                        label(for="hembra") Hembra
                    .p.col.s12
                        input.filled-in(type="checkbox", id="macho")
                        label(for="macho") Macho
                .row
                    .col.s12
                        span.text-primary Gustos
                .row
                    .p.col.s12
                        input.filled-in(type="checkbox", id="pelota")
                        label(for="pelota") Jugar a la pelota
                    .p.col.s12
                        input.filled-in(type="checkbox", id="correr")
                        label(for="correr") Correr
                .row
                    .col.s12
                        span.text-primary Edad
                .row
                    .p.col.s12
                        input.filled-in(type="checkbox", id="1")
                        label(for="1") 1 año(s)
                    .p.col.s12
                        input.filled-in(type="checkbox", id="2")
                        label(for="2") 2 año(s)
                .row
                    .col.s12
                        span.text-primary Tamaño
                .row
                    .p.col.s12
                        input.filled-in(type="checkbox", id="grande")
                        label(for="grande") Grande
                    .p.col.s12
                        input.filled-in(type="checkbox", id="mediano")
                        label(for="mediano") Mediano
                .row
                    .col.s12
                        span.text-primary Tipo de pelo
                .row
                    .p.col.s12
                        input.filled-in(type="checkbox", id="pelo1")
                        label(for="pelo1") Rizado
                    .p.col.s12
                        input.filled-in(type="checkbox", id="pelo2")
                        label(for="pelo2") Corto
                .row
                    .col.s12
                        span.text-primary Color
                .row
                    .col.s12
                        .col.s3.h-50p.black.m-2p.cursor-pointer()
        .col.s12.m9
            .row
                .col.s12.m4
                    .card
                        .card-image
                            img(src="assets/img/logo-1.png")
                            a.btn-floating.halfway-fab.waves-effect.waves-light.bg-primary()
                                i.fa.fa-home
                        .card-content
                            span.card-title Titulo
                            span Contenido
