
<div class="container min-height-100vh">
  <div class="row m-top-30p">
    <div class="col s12 m3 m-top-10p">
      <form>
        <div class="row" *ngIf="pets?.length &gt; 0">
          <div class="input-field col s12">
            <input type="text" id="search" [(ngModel)]="term" name="search"/>
            <label for="search">Buscar mascota</label>
          </div>
        </div>
        <div class="row" *ngIf="sexs?.length &gt; 0">
          <div class="p col s12" *ngFor="let sex of sexs">
            <input class="filled-in" type="checkbox" [id]="sex?.name" #sexCheck="" (change)="onCheckSex(sex)" [checked]="sex?.name === selectedSex?.name"/>
            <label [for]="sex?.name">{{ sex?.name }}</label>
          </div>
        </div>
        <div class="row" *ngIf="tastes?.length &gt; 0">
          <div class="col s12"><span class="text-primary">Gustos</span></div>
        </div>
        <div class="row" *ngIf="tastes?.length &gt; 0">
          <div class="p col s12" *ngFor="let taste of tastes">
            <input class="filled-in" type="checkbox" [id]="taste?.name" #tasteCheck="" (change)="onCheckTaste(taste, tasteCheck.checked)"/>
            <label [for]="taste?.name">{{ taste?.name }}</label>
          </div>
        </div>
        <div class="row" *ngIf="ageRanges?.length &gt; 0 &amp;&amp; ages?.length &gt; 0">
          <div class="col s12"><span class="text-primary">Edad</span></div>
        </div>
        <div class="row" *ngIf="ageRanges?.length &gt; 0 &amp;&amp; ages?.length &gt; 0">
          <div class="p col s12" *ngFor="let ageRange of ageRanges">
            <input class="filled-in" type="checkbox" [id]="ageRange?.min" #ageRangeCheck="" (change)="onCheckAgeRange(ageRange)" [checked]="ageRange?.min === selectedAgeRange?.min"/>
            <label [for]="ageRange?.min" *ngIf="ageRange?.show" (change)="onCheckAgeRange(ageRange)">De {{ ageRange?.min }}{{ (ageRange?.max < 99) ? ' a ' + ageRange?.max : ' o más'  }} años</label>
          </div>
        </div>
        <div class="row" *ngIf="sizes?.length &gt; 0">
          <div class="col s12"><span class="text-primary">Tamaño</span></div>
        </div>
        <div class="row" *ngIf="sizes?.length &gt; 0">
          <div class="p col s12" *ngFor="let size of sizes">
            <input class="filled-in" type="checkbox" [id]="size?.name" #sizeCheck="" (change)="onCheckSize(size)" [checked]="size?.name === selectedSize?.name"/>
            <label [for]="size?.name">{{ size?.name }}</label>
          </div>
        </div>
        <div class="row" *ngIf="furs?.length &gt; 0">
          <div class="col s12"><span class="text-primary">Tipo de pelo</span></div>
        </div>
        <div class="row" *ngIf="furs?.length &gt; 0">
          <div class="p col s12" *ngFor="let fur of furs">
            <input class="filled-in" type="checkbox" [id]="fur?.name" #furCheck="" (change)="onCheckFur(fur)" [checked]="fur?.name === selectedFur?.name"/>
            <label [for]="fur?.name">{{ fur?.name }}</label>
          </div>
        </div>
        <div class="row" *ngIf="colors?.length &gt; 0">
          <div class="col s12"><span class="text-primary">Color</span></div>
        </div>
        <div class="row" *ngIf="colors?.length &gt; 0">
          <div class="col s12">
            <div class="col s12 m4 h-50p m-2p cursor-pointer hover-border" *ngFor="let color of colors" [style.backgroundColor]="color" [style.border]="'solid 1px'" [class.border-active]="color === selectedColor" [style.borderColor]="(color === '#ffffff' || '#FFFFFF') ? '#000000' : color" (click)="onColorClick(color)"></div>
          </div>
        </div>
      </form>
    </div>
    <div class="col s12" *ngIf="ages?.length &lt; 1">
      <div class="row">
        <div class="col s12 center-align text-primary p-top-5">
          <h5>No se encontraron mascotas</h5>
        </div>
      </div>
    </div>
    <div class="col s12 m9">
      <div class="row" *ngIf="(pets | filter: term).length === 0 &amp;&amp; ages?.length &gt; 0">
        <div class="col s12 center-align text-primary p-top-5">
          <h5>No se encontraron mascotas</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 m-top-10p cursor-pointer hvr-grow" *ngFor="let pet of pets | filter: term" (click)="petService.goToDetail(pet.uid)">
          <div class="card small card-img" [style.backgroundImage]="'url('+ pet?.images[0]?.url +')'">
            <div class="row pet-card-detail-2 w-100">
              <div class="col s12 white-text">
                <h5>{{ pet?.name }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>