
<div class="container min-height-100vh">
  <div class="row m-top-30p">
    <div class="col s12 m3 m-top-10p">
      <form>
        <div class="row" *ngIf="pets.length &gt; 0">
          <div class="input-field col s12">
            <input type="text" id="search" [(ngModel)]="term"/>
            <label for="search">Buscar mascota</label>
          </div>
        </div>
        <div class="row" *ngIf="sexs.length &gt; 0">
          <div class="p col s12" *ngFor="let sex of sexs">
            <input class="filled-in" type="checkbox" [id]="sex.name"/>
            <label [for]="sex.name">{{ sex.name }}</label>
          </div>
        </div>
        <div class="row" *ngIf="tastes.length &gt; 0">
          <div class="col s12"><span class="text-primary">Gustos</span></div>
        </div>
        <div class="row" *ngIf="tastes.length &gt; 0">
          <div class="p col s12" *ngFor="let taste of tastes">
            <input class="filled-in" type="checkbox" [id]="taste.name"/>
            <label [for]="taste.name">{{ taste.name }}</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12"><span class="text-primary">Edad</span></div>
        </div>
        <div class="row">
          <div class="p col s12">
            <input class="filled-in" type="checkbox" id="1"/>
            <label for="1">1 año(s)</label>
          </div>
          <div class="p col s12">
            <input class="filled-in" type="checkbox" id="2"/>
            <label for="2">2 año(s)</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12"><span class="text-primary">Tamaño</span></div>
        </div>
        <div class="row">
          <div class="p col s12">
            <input class="filled-in" type="checkbox" id="grande"/>
            <label for="grande">Grande</label>
          </div>
          <div class="p col s12">
            <input class="filled-in" type="checkbox" id="mediano"/>
            <label for="mediano">Mediano</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12"><span class="text-primary">Tipo de pelo</span></div>
        </div>
        <div class="row">
          <div class="p col s12">
            <input class="filled-in" type="checkbox" id="pelo1"/>
            <label for="pelo1">Rizado</label>
          </div>
          <div class="p col s12">
            <input class="filled-in" type="checkbox" id="pelo2"/>
            <label for="pelo2">Corto</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12"><span class="text-primary">Color</span></div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="col s3 h-50p black m-2p cursor-pointer"></div>
          </div>
        </div>
      </form>
    </div>
    <div class="col s12 m9">
      <div class="row">
        <div class="col s12 m6 m-top-10p" *ngFor="let pet of pets | filter: term">
          <div class="card">
            <div class="card-image"><img [src]="pet.images[0].url"/><a class="btn-floating halfway-fab waves-effect waves-light bg-primary" [routerLink]="['/pet/characteristics/' + pet.uid]"><i class="fa fa-home"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>