
<div class="row">
  <div class="col s12">
    <h5>Lista de publicaciones</h5>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input type="text" id="search" (keyup)="onFilter(search.value)" #search=""/>
    <label for="search">Buscar publicación</label>
  </div>
</div>
<div class="row">
  <div class="col s12"><a class="btn btn-block waves-block waves-effect bg-primary" [routerLink]="['/administrador/publicaciones/nueva']">Agregar publicación</a></div>
</div>
<div class="row">
  <div class="col s12">
    <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="'auto'" [limit]="10" [rowHeight]="'auto'" [reorderable]="reorderable" #table="" [messages]="messages" [selectionType]="'single'" (select)="onSelect($event)"></ngx-datatable>
  </div>
</div>