.w-100.h-100(id="image-div")
.w-100.h-100.middle-component
    .container.h-100.valign-wrapper
        .row.m-top-30p
            .col.s12.m8.offset-m2.grey.lighten-4.p-5
                .row.valign-wrapper
                    .col.s12.m6
                        img.responsive-img(src="assets/img/logo-1.png")
                        form.col.s12.m-top-30p
                            .row
                                .col.s12.center-align
                                    span Puedes iniciar sesión con
                            .row
                                .col.s12.m6.m-top-10p
                                    a.btn.waves-effect.blue.darken-1.btn-block.waves-block((click)="utilsService.facebookLogin()")
                                        i.fa.fa-facebook
                                        | &nbsp;
                                        | Facebook
                                .col.s12.m6.m-top-10p
                                    a.btn.waves-effect.deep-orange.darken-2.btn-block.waves-block((click)="utilsService.googleLogin()")
                                        i.fa.fa-google
                                        | &nbsp;
                                        | Google
                            .row
                                .col.s12.center-align
                                    a.text-primary.cursor-pointer([routerLink]="['/acceso/registro']") ¿No tengo cuenta?
                            .row
                                .col.s12.center-align
                                    a.text-black.cursor-pointer([routerLink]="['/acceso/recuperar-cuenta']") Olvidé mi contraseña
                    .col.s12.m6
                        form.col.s12.m-top-30p(#loginForm="ngForm", (submit)="login()")
                            .row
                                .col.s12.left-align
                                    h5.text-black Iniciar sesión
                            .row
                                .input-field.col.s12
                                    input(type="email", id="email", name="email", [(ngModel)]="user.email", #emailInput="ngModel",
                                        [email]="true", required)
                                    label(for="email", [class.active]="user?.email") Correo
                                    span.grey-text.lighten-4(*ngIf="loginForm.submitted && emailInput.errors?.required") Ingresa el correo
                                    span.grey-text.lighten-4(*ngIf="loginForm.submitted && emailInput.errors?.email") Ingresa un correo valido
                            .row
                                .input-field.col.s12
                                    input(type="password", id="password", name="password", [(ngModel)]="user.password",
                                        #passwordInput="ngModel", required)
                                    label(for="password", [class.active]="user?.password") Contraseña
                                    span.grey-text.lighten-4(*ngIf="loginForm.submitted && passwordInput.errors?.required") Ingresa la contraseña
                            .row
                                .col.s12
                                    button.btn.waves-effect.bg-primary.white-text.col.s12(type="submit") Iniciar sesión


