.container
    .row.m-top-30p
        .col.s12.m6.offset-m3.grey.lighten-4.p-5
            img.responsive-img(src="assets/img/logo-1.png")
            form(#formLogin="ngForm").col.s12.m-top-30p
                .row
                    .col.s12.left-align
                        h5.text-black Iniciar sesión
                .row
                    .input-field.col.s12
                        input.validate(type="email", id="email", name="email", [(ngModel)]="user.email", #email="ngModel",
                            [email]="true")
                        label(for="email") Correo
                        span.red-text(*ngIf="email.invalid") Ingresa un correo valido
                .row
                    .input-field.col.s12
                        input(type="password", id="password", name="password", [(ngModel)]="user.password",
                            #password="ngModel")
                        label(for="password") Contraseña
                .row
                    .col.s12
                        a.btn.btn-block.waves-effect.bg-primary.white-text.waves-block([class.disabled]="email.invalid",
                            (click)="login()") Iniciar sesión
                .row
                    .col.s12.center-align
                        span Puedes iniciar sesión con
                .row
                    .col.s12.m6
                        a.btn.waves-effect.blue.darken-1.btn-block.waves-block((click)="utilsService.facebookLogin()")
                            i.fa.fa-facebook
                            | &nbsp;
                            | Facebook
                    .col.s12.m6
                        a.btn.waves-effect.deep-orange.darken-2.btn-block.waves-block((click)="utilsService.googleLogin()")
                            i.fa.fa-google
                            | &nbsp;
                            | Google
                .row
                    .col.s12.center-align
                        a.text-primary.cursor-pointer([routerLink]="['/auth/register']") ¿No tengo cuenta?
                .row
                    .col.s12.center-align
                        a.text-black.cursor-pointer([routerLink]="['/auth/forgot-password']") Olvidé mi contraseña

