
<div class="container">
  <div class="row m-top-30p">
    <div class="col s12 m6 offset-m3 grey lighten-4 p-5"><img class="responsive-img" src="assets/img/logo-1.png"/>
      <form class="col s12 m-top-30p" #formLogin="ngForm">
        <div class="row">
          <div class="col s12 left-align">
            <h5 class="text-black">Iniciar sesión</h5>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input class="validate" type="email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" [email]="true"/>
            <label for="email">Correo</label><span class="red-text" *ngIf="email.invalid">Ingresa un correo valido</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel"/>
            <label for="password">Contraseña</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12"><a class="btn btn-block waves-effect bg-primary white-text waves-block" [class.disabled]="email.invalid" (click)="login()">Iniciar sesión</a></div>
        </div>
        <div class="row">
          <div class="col s12 center-align"><span>Puedes iniciar sesión con</span></div>
        </div>
        <div class="row">
          <div class="col s12 m6 m-top-10p"><a class="btn waves-effect blue darken-1 btn-block waves-block" (click)="utilsService.facebookLogin()"><i class="fa fa-facebook"></i>&nbsp;
              Facebook</a></div>
          <div class="col s12 m6 m-top-10p"><a class="btn waves-effect deep-orange darken-2 btn-block waves-block" (click)="utilsService.googleLogin()"><i class="fa fa-google"></i>&nbsp;
              Google</a></div>
        </div>
        <div class="row">
          <div class="col s12 center-align"><a class="text-primary cursor-pointer" [routerLink]="['/auth/register']">¿No tengo cuenta?</a></div>
        </div>
        <div class="row">
          <div class="col s12 center-align"><a class="text-black cursor-pointer" [routerLink]="['/auth/forgot-password']">Olvidé mi contraseña</a></div>
        </div>
      </form>
    </div>
  </div>
</div>