.container.min-height-100vh
    .row.m-top-30p
        .col.s12
            i.fa.fa-1-5x.fa-circle.waiting-color(*ngIf="!donation?.approved")
            i.fa.fa-1-5x.fa-circle.orange-text(*ngIf="donation?.approved && !donation?.collected")
            i.fa.fa-1-5x.fa-circle.success-color(*ngIf="donation?.approved && donation?.collected")
            | &nbsp;
            | &nbsp;
            span(*ngIf="!donation?.approved") No se ha aprobado
            span(*ngIf="donation?.approved && !donation?.collected") No se ha recogido
            span(*ngIf="donation?.approved && donation?.collected") Aprobada y recogida
    .row
        .col.s12.m6
            .row
                .col.s12
                    h5 Datos de la donación
            .row
                .col.s12
                    span.text-primary Nombre
                .col.s12
                    span {{ donation?.name }}
            .row
                .col.s12
                    span.text-primary Correo
                .col.s12
                    span {{ donation?.email }}
            .row
                .col.s12
                    span.text-primary Fecha de la solicitud
                .col.s12
                    span {{ donation?.date | amLocale: 'es' | amDateFormat: 'LL' }}
            .row
                .col.s12
                    span.text-primary Descripción
                .col.s12
                    p.text-justify {{ donation?.description }}
            .row.m-bottom-0(*ngIf="!donation?.approved")
                .col.s12
                    span.text-primary Fecha estimada en que se recogera el artículo o los artículos
            .row(*ngIf="!donation?.approved")
                .input-field.col.s12
                    input([matDatepicker]="datepicker", id="date", (focus)="datepicker.open()", name="date",
                        #dateInput="ngModel", [(ngModel)]="donation.collected_estimated_date", [min]="minDate")
                    mat-datepicker(#datepicker="", touchUi="")
            .row(*ngIf="donation?.approved")
                .col.s12
                    span.text-primary Fecha estimada en que se recogera el artículo o los artículos
                .col.s12
                    span {{ donation?.collected_estimated_date | amLocale: 'es' | amDateFormat: 'LL' }}
        .col.s12.m6
            .row
                .col.s12
                    h5 Dirección
            .row
                .col.s12
                    span.text-primary Calle
                .col.s12
                    span {{ donation?.address?.street }}
            .row
                .col.s6([class.s12]="!donation?.address?.interior_number")
                    span.text-primary Número exterior
                .col.s6(*ngIf="donation?.address?.interior_number")
                    span.text-primary Número interior
                .col.s6([class.s12]="!donation?.address?.interior_number")
                    span {{ donation?.address?.outdoor_number }}
                .col.s6(*ngIf="donation?.address?.interior_number")
                    span {{ donation?.address?.interior_number }}
            .row
                .col.s12
                    span.text-primary Colonia
                .col.s12
                    span {{ donation?.address?.colony }}
            .row
                .col.s12
                    span.text-primary Ciudad
                .col.s12
                    span {{ donation?.address?.city }}
            .row(*ngIf="donation?.collected")
                .col.s12
                    span.text-primary Fecha en que se recogió el artículo o los artículos
                .col.s12
                    span {{ donation?.collected_date | amLocale: 'es' | amDateFormat: 'LL' }}
    .row
        .col.s12
            span.text-primary Fotografías
        .col.s12.m6.offset-m3
            gallery.bg-transparent(id="donationGallery", [autoPlay]="true", [counter]="false", [playerInterval]="5000",
                [imageSize]="contain", gallerize="")
    .row.m-bottom-50p.m-top-50p
        .col.s12(*ngIf="!donation?.approved")
            a.btn.btn-block.waves-block.waves-effect.bg-primary.white-text((click)="approve()") Aprobar donación
        .col.s12(*ngIf="!donation?.collected && donation?.approved")
            a.btn.btn-block.waves-block.waves-effect.bg-primary.white-text((click)="markCollected()") Marcar donación como recogida
