.container.min-height-100vh
    .row.m-top-30p
        .col.s12
            h5 Perfil
    .row
        .col.s12
            mat-tab-group(mat-stretch-tabs="")
                mat-tab(label="Adopciones")
                    app-profile-adopt-request-list
                mat-tab(label="Información personal")
                    app-profile-personal-info