.container.min-height-100vh
    .row.m-top-30p
        .col.s12.left-align
            h3 Ayudanos a ayudar...
    .row
        .col.s12.center-align
            img.responsive-img([src]="'https://i.imgur.com/zUvzL0F.jpg'")
            blockquote.right Foto por Fernanda García
    .row
        .col.s12
            p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis at erat. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Pulvinar etiam non quam lacus suspendisse faucibus. Augue interdum velit euismod in pellentesque massa placerat duis. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Risus at ultrices mi tempus imperdiet. Eget duis at tellus at urna condimentum. Aliquam purus sit amet luctus venenatis lectus.
    .row
        .col.s12
            ul.tabs.tabs-fixed-width
                li.tab([routerLinkActive]="'b-bottom-primary'")
                    a.cursor-pointer([routerLink]="['/donate/store']", [routerLinkActive]="'active'") Donar en tienda
                li.tab([routerLinkActive]="'b-bottom-primary'")
                    a.cursor-pointer([routerLink]="['/donate/card']", [routerLinkActive]="'active'") Donar con tarjeta de crédito o débito
                li.tab([routerLinkActive]="'b-bottom-primary'")
                    a.cursor-pointer([routerLink]="['/donate/item']", [routerLinkActive]="'active'") Donar artículo(s)
            .col.s12.m-top-10p
                router-outlet

