.container.min-height-100vh
    .row.m-top-30p
        .col.s12.left-align
            h3 Ayúdanos a ayudar...
    .row
        .col.s12.center-align
            img.responsive-img(src="assets/img/donate.jpg")
            blockquote.right
                | Foto por&nbsp;
                a.text-primary(href="https://pixabay.com/en/users/MatanVizel-5033181/?tab=latest", target="_blank") @MatanVizel
    .row
        .col.s12
            p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis at erat. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Pulvinar etiam non quam lacus suspendisse faucibus. Augue interdum velit euismod in pellentesque massa placerat duis. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Risus at ultrices mi tempus imperdiet. Eget duis at tellus at urna condimentum. Aliquam purus sit amet luctus venenatis lectus.
    .row
        .col.s12
            mat-tab-group(mat-stretch-tabs="")
                mat-tab
                    ng-template(mat-tab-label="")
                        i.fa.fa-credit-card.fa-1-5x
                        | &nbsp;&nbsp;Donar ahora
                    app-donate-paypal
                mat-tab
                    ng-template.truncate(mat-tab-label="")
                        i.fa.fa-bank.fa-1-5x
                        | &nbsp;&nbsp;Mediante depósito o transferencia
                    app-donate-tienda
                mat-tab
                    ng-template(mat-tab-label="")
                        i.fa.fa-gift.fa-1-5x
                        | &nbsp;&nbsp;Donar artículo(s)
                    app-donate-item

