.container.min-height-100vh
    .row.m-top-30p
        .col.s12.left-align
            h3 Ayúdanos a ayudar...
    .row
        .col.s12.center-align
            img.responsive-img(src="assets/img/donate.jpg")
            blockquote.right
                | Foto por&nbsp;
                a.text-primary(href="https://pixabay.com/en/users/MatanVizel-5033181/?tab=latest", target="_blank") @MatanVizel
    .row
        .col.s12
            p.text-justify
                | En Milagros del Rincón queremos apoyar a todas las mascotas que están abandonadas o que no tienen
                | un hogar, sin embargo, no contamos con el sustento ni el espacio suficiente para ayudar a todas ellas.
                | Tu donación nos ayudará a mejorar el espacio en el que conviven todos nuestros pequeñines,
                | alimentarlos y cuidarlos de la mejor manera posible, e incluso, aceptar nuevos integrantes que
                | necesiten de un hogar.
    .row
        .col.s12
            mat-tab-group(mat-stretch-tabs="")
                mat-tab
                    ng-template(mat-tab-label="")
                        i.fa.fa-credit-card.fa-1-5x
                        | &nbsp;&nbsp;Donar ahora
                    app-donate-paypal
                mat-tab
                    ng-template.truncate(mat-tab-label="")
                        i.fa.fa-bank.fa-1-5x
                        | &nbsp;&nbsp;Mediante depósito o transferencia
                    app-donate-tienda
                mat-tab
                    ng-template(mat-tab-label="")
                        i.fa.fa-gift.fa-1-5x
                        | &nbsp;&nbsp;Donar artículo(s)
                    app-donate-item

