.row
    .col.s12
        h5 En línea
.row
    .col.s12
        p.text-justify
            | Puedes donar justo ahora cualquier cantidad igual o mayor a $10 MXN mediante
            | las tarjetas de crédito o débito participantes y/o a través de tu cuenta PayPal.
.row
    .col.s12.center-align
        form(#donateForm="ngForm")
            .row
                .input-field.col.s12
                    input(id="amount", name="amount", currencyMask="", min="10", [(ngModel)]="paypalConfig.transactions[0].amount.total",
                        [options]="{ align: 'left', allowNegative: false }", required, #amountInput="ngModel")
                    label.active(for="amount") Monto
                    span.red-text(*ngIf="donateForm.errors?.invalid") Ingresa un monto valido
            .row(*ngIf="paypalConfig.transactions[0].amount.total >= 10")
                .col.s12
                    ngx-paypal([config]="paypalConfig")