
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12">
      <h5>Ayúdanos en segundos...</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="text-justify">
        Puedes donar justo ahora mediante las tarjetas de crédito o débito participantes
        y/o a través de tu cuenta PayPal.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <form #donateForm="ngForm">
        <div class="row">
          <div class="col s12"><a class="btn btn-block waves-effect waves-block bg-primary white-text" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=4S8TUBSYQLEKS&amp;source=url">Donar</a></div>
        </div>
      </form>
    </div>
  </div>
</div>