.container.p-top-5.p-bottom-5
    .row
        .col.s12
            h5 Ayúdanos en segundos...
    .row
        .col.s12
            p.text-justify
                | Puedes donar justo ahora mediante las tarjetas de crédito o débito participantes
                | y/o a través de tu cuenta PayPal.
            p.left.grey-text.lighten-4.text-justify
                | El nombre y correo electrónico sólamente son para fines de gratificación, puedes
                | realizar la donación sin escribirlos si así lo deseas.
    .row
        .col.s12.center-align
            form(#donateForm="ngForm")
                .row
                    .input-field.col.s12
                        input(type="text", id="name", name="name", [(ngModel)]="donation.name", #nameInput="ngModel",
                            required)
                        label.active(for="name", [class.active]="donation.name") Nombre
                .row
                    .input-field.col.s12
                        input(type="email", id="email", name="email", [(ngModel)]="donation.email", #emailInput="ngModel",
                            required, [email]="true")
                        label.active(for="name", [class.active]="donation.email") Correo electrónico
                .row
                    .input-field.col.s12
                        input.font-x-large(id="amount", name="amount", currencyMask="", required, #amountInput="ngModel",
                            [(ngModel)]="paypalConfig.transactions[0].amount.total",
                            [options]="{ align: 'left', allowNegative: false }")
                        label.active(for="amount") Monto
                        span.left.grey-text.lighten-4 El monto debe ser mayor o igual a $5.00 MXN
                .row.m-top-50p(*ngIf="paypalConfig.transactions[0].amount.total >= 5")
                    .col.s12
                        ngx-paypal([config]="paypalConfig")