.container.p-top-5.p-bottom-5
    .row
        .col.s12
            h5 Ayúdanos en segundos...
    .row
        .col.s12
            p.text-justify
                | Puedes donar justo ahora mediante las tarjetas de crédito o débito participantes
                | y/o a través de tu cuenta PayPal.
    .row
        .col.s12.center-align
            form(#donateForm="ngForm")
                .row
                    .col.s12
                        a.btn.btn-block.waves-effect.waves-block.bg-primary.white-text(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4S8TUBSYQLEKS&source=url")
                            | Donar