
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12">
      <h5>Cuando tengas oportunidad...</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="text-justify">
        Puedes donar cuando tengas la oportunidad, a través de un deposito bancario o transferencia
        electrónica. Abajo puedes ver nuestra cuenta para apoyarnos. ¡Muchas gracias!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <form #donateForm="ngForm">
        <div class="row">
          <div class="input-field col s12">
            <label>Tarjeta de débito Banamex (OXXO Saldazo)</label>
          </div>
        </div>
        <div class="row m-top-50p">
          <div class="col s12 center-align"><span class="font-xx-large">{{ oxxoCard }}</span></div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="grey-text lighten-4 text-justify">
              El deposito bancario puede realizarse en cualquier sucursal Banamex, en caja o
              cajero automático. También puedes depositar en cualquier sucursal de OXXO. Para
              transferencia bancaria puede ser desde cualquier banca electrónica como
              Transfer de Banamex.
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>