
<div class="container min-height-100vh">
  <div class="row m-top-30p">
    <div class="col s12">
      <h5 *ngIf="!editar">Nueva publicación</h5>
      <h5 *ngIf="editar">Editar publicación</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <form #postForm="ngForm" (submit)="onSubmit()">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="title" name="title" [(ngModel)]="post.title" #titleInput="ngModel" required="required"/>
            <label for="title" [class.active]="post?.title">Título</label><span class="grey-text lighten-4" *ngIf="postForm.submitted &amp;&amp; titleInput.errors?.required">Ingresa un título</span>
          </div>
        </div>
        <div class="row">
          <div class="col s12"><span class="text-primary">Autor de la publicación</span>
            <ng-select [items]="authors" [addTag]="true" bindLabel="name" [ngModel]="post?.author?.name" (ngModelChange)="post.author.name = $event" bindValue="name" [notFoundText]="'Sin autores, escribe para agregar'" id="author" name="author" [loading]="loading" [addTagText]="'Agregar autor'"></ng-select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="social-link-post-author" name="social-link-post-author" [ngModel]="post?.author?.social_link" (ngModelChange)="post.author.social_link = $event" #socialLinkInput="ngModel"/>
            <label for="social-link-post-author" [class.active]="post?.author?.social_link">Red social del autor de la publicación</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="main_image">Imagen principal</label>
          </div>
        </div>
        <div class="row m-top-30p">
          <div class="col s12">
            <input-file [(ngModel)]="images" [fileAccept]="'image/*'" id="main_image" [fileLimit]="1" name="main_image"></input-file>
          </div>
        </div>
        <div class="row">
          <div class="col s12"><span class="text-primary">Autor de la imagen principal</span>
            <ng-select [items]="authors" [addTag]="true" bindLabel="name" [ngModel]="post?.main_image?.author?.name" (ngModelChange)="post.main_image.author.name = $event" bindValue="name" [notFoundText]="'Sin autores, escribe para agregar'" id="author-2" name="author-2" [loading]="loading" [addTagText]="'Agregar autor'"></ng-select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input class="validate" type="text" id="social-link-image-author" name="social-link-image-author" [ngModel]="post?.main_image?.author?.social_link" (ngModelChange)="post.main_image.author.social_link = $event" #socialLinkImageInput="ngModel"/>
            <label for="social-link-image-author" [class.active]="post?.main_image?.author?.social_link">Red social del autor de la imagen</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="content">Contenido</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m-top-30p">
            <quill-editor [(ngModel)]="post.content" id="content" name="content" #contentInput="ngModel" [placeholder]="'Escribe aquí...'"></quill-editor>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 m-top-50p" *ngIf="editar"><a class="btn btn-block waves-effect waves-block grey" (click)="onDelete()">Eliminar</a></div>
          <div class="col s12 m-top-50p" [class.m6]="editar">
            <button class="btn bg-primary waves-effect white-text col s12" type="submit">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>