
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12">
      <h5>Haz felices a nuestras mascotas...</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="text-justify">
        Puedes donar cualquier artículo que nos sirva para alimentar y cuidar a todas nuestras mascotas
        y/o para mejorar el espacio en el que conviven o cualquier cosa que se te ocurra, nosotros te avisaremos
        si podemos aceptarlo o no.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <form #donateItemForm="ngForm" (submit)="donate()">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="name" name="name" [(ngModel)]="donation.name" #nameInput="ngModel" required="required"/>
            <label class="active" for="name" [class.active]="donation.name">Nombre</label><span class="red-text" *ngIf="donateItemForm.submitted &amp;&amp; nameInput.errors?.required">Ingresa un nombre</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="email" id="email" name="email" [(ngModel)]="donation.email" #emailInput="ngModel" required="required" [email]="true"/>
            <label class="active" for="name" [class.active]="donation.email">Correo electrónico</label><span class="red-text" *ngIf="donateItemForm.submitted &amp;&amp; emailInput.errors?.required">Ingresa un correo</span><span class="red-text" *ngIf="donateItemForm.submitted &amp;&amp; emailInput.errors?.invalid">Ingresa un correo valido</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea class="materialize-textarea" id="description" name="description" [(ngModel)]="donation.description" #descriptionInput="ngModel" required="required"></textarea>
            <label class="active" for="description" [class.active]="donation.description">Cuéntanos que quieres donar y por qué</label><span class="red-text" *ngIf="donateItemForm.submitted &amp;&amp; descriptionInput.errors?.required">Ingresa una descripción</span>
          </div>
        </div>
        <div class="row m-top-50p">
          <div class="col s12">
            <button class="btn waves-effect bg-primary white-text col s12" type="submit">Enviar solicitud</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>