.container.min-height-100vh
    .row.m-top-30p
        .col.s12.m3
            .row
                .col.s12
                    h4 {{ pet.name }}
                .col.s12
                    span.text-primary {{ pet.sex.name }}
            .row
                .col.s12
                    span.text-primary Edad
                .col.s12
                    span {{ pet.age.pet_age }} a침o(s) - {{ pet.age.human_age }} a침o(s) humanos
            .row
                .col.s12
                    span.text-primary Tama침o
                .col.s12
                    span {{ pet.size.name }}
            .row
                .col.s12
                    span.text-primary Pelaje
                .col.s12
                    span {{ pet.fur.name }}
            .row
                .col.s12
                    span.text-primary Gustos
                .col.s12(*ngFor="let taste of pet.tastes")
                    span - {{ taste.name }}
            .row
                .col.s12
                    a.btn.waves-effect.bg-primary.btn-block.waves-block([routerLink]="['/mascota/adoptar/' + pet.uid]")
                        i.fa.fa-home
                        | &nbsp;
                        | Adoptar
            .row
                .col.s12
                    a.btn.waves-effect.teal.darken-1.btn-block.waves-block((click)="sponsor()")
                        i.fa.fa-paw
                        | &nbsp;
                        | Apadrinar
        .col.s12.m9
            .row
                .col.s12
                    gallery.bg-transparent(id="petGallery", [autoPlay]="true", [counter]="false", [playerInterval]="5000",
                        [imageSize]="contain", gallerize="")
.w-100.grey.lighten-4.p-top-5.p-bottom-5.m-bottom-50p
    .container
        .row
            .col.s12.m3
                .row
                    .col.s12
                        h5 Descripci칩n
            .col.s12.m9
                .row
                    .col.s12
                        p.text-justify([innerHtml]="pet.description | safeHtml")