.container.min-height-100vh
    .row.m-top-30p
        .col.s12.m3
            .row
                .col.s12
                    h4 Dora
                .col.s12
                    span.text-primary Hembra
            .row
                .col.s12
                    span.text-primary Edad
                .col.s12
                    span 6 año(s)
            .row
                .col.s12
                    span.text-primary Tamaño
                .col.s12
                    span Chico
            .row
                .col.s12
                    span.text-primary Pelo
                .col.s12
                    span Rizado
            .row
                .col.s12
                    span.text-primary Gustos
                .col.s12
                    span - Pelota
                .col.s12
                    span - Correr
            .row
                .col.s12
                    a.btn.waves-effect.bg-primary.btn-block.waves-block()
                        i.fa.fa-home
                        | &nbsp;
                        | Adoptar
            .row
                .col.s12
                    a.btn.waves-effect.teal.darken-1.btn-block.waves-block()
                        i.fa.fa-paw
                        | &nbsp;
                        | Apadrinar
        .col.s12.m9
            .row
                .col.s12
                    //gallery(id="petGallery", [items]="images", [autoPlay]="true", [counter]="false",
                        [playerInterval]="5000", [imageSize]="contain")
.w-100.grey.lighten-4.p-top-5.p-bottom-5.m-bottom-50p
    .container
        .row
            .col.s12.m3
                .row
                    .col.s12
                        h5 Descripción
            .col.s12.m9
                .row
                    .col.s12
                        p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis at erat. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Pulvinar etiam non quam lacus suspendisse faucibus. Augue interdum velit euismod in pellentesque massa placerat duis. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Risus at ultrices mi tempus imperdiet. Eget duis at tellus at urna condimentum. Aliquam purus sit amet luctus venenatis lectus.