
<div class="container min-height-100vh">
  <div class="row m-top-30p">
    <div class="col s12 m3">
      <div class="row">
        <div class="col s12">
          <h4>Dora</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12"><span class="text-primary">Hembra</span></div>
      </div>
      <div class="row">
        <div class="col s12"><span class="text-primary">Edad</span></div>
        <div class="col s12"><span>6 año(s)</span></div>
      </div>
      <div class="row">
        <div class="col s12"><span class="text-primary">Tamaño</span></div>
        <div class="col s12"><span>Chico</span></div>
      </div>
      <div class="row">
        <div class="col s12"><span class="text-primary">Pelo</span></div>
        <div class="col s12"><span>Rizado</span></div>
      </div>
      <div class="row m-bottom-50p">
        <div class="col s12"><span class="text-primary">Gustos</span></div>
        <div class="col s12"><span>- Pelota</span></div>
        <div class="col s12"><span>- Correr</span></div>
      </div>
      <div class="row">
        <div class="col s12"><a class="btn waves-effect bg-primary btn-block waves-block"><i class="fa fa-home"></i>&nbsp;
            Adoptar</a></div>
      </div>
      <div class="row">
        <div class="col s12"><a class="btn waves-effect teal darken-1 btn-block waves-block"><i class="fa fa-paw"></i>&nbsp;
            Apadrinar</a></div>
      </div>
    </div>
  </div>
</div>