.container.p-top-5.p-bottom-5
    .row
        .col.s12.center-align
            img.responsive-img(src="assets/img/logo-1.png")
.w-100.grey.lighten-4.p-top-5.p-bottom-5
    .container
        .row
            .col.s12.m3
                .row
                    .col.s12
                        h5.text-primary Misión
            .col.s12.m9
                .row
                    .col.s12
                        p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis at erat. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Pulvinar etiam non quam lacus suspendisse faucibus. Augue interdum velit euismod in pellentesque massa placerat duis. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Risus at ultrices mi tempus imperdiet. Eget duis at tellus at urna condimentum. Aliquam purus sit amet luctus venenatis lectus.
.container.p-top-5.p-bottom-5
    .row
        .col.s12.m3
            .row
                .col.s12
                    h5.text-primary Visión
        .col.s12.m9
            .row
                .col.s12
                    p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis at erat. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Pulvinar etiam non quam lacus suspendisse faucibus. Augue interdum velit euismod in pellentesque massa placerat duis. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Risus at ultrices mi tempus imperdiet. Eget duis at tellus at urna condimentum. Aliquam purus sit amet luctus venenatis lectus.
.w-100.grey.lighten-4.p-top-5.p-bottom-5
    .container
        .row
            .col.s12.m3
                .row
                    .col.s12
                        h5.text-primary Valores
            .col.s12.m9
                .row
                    .col.s12
                        span - Responsabilidad
                    .col.s12
                        span - Honestidad
.container.p-top-5.p-bottom-5
    .row
        .col.s12.m3
            .row
                .col.s12
                    h5.text-primary Contáctanos
            .row
                .col.s12
                    span Morelos #318 Sur, Purísima del Rincón, Guanajuato, México.
            .row
                .col.s12
                    span info@milagros.com
            .row
                .col.s12
                    span +52 (476) 123 4567
            .row
                .col.s12
                    i.fa.fa-whatsapp.fa-2x
        .col.s12.m9
            .row
                .col.s12