
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12 center-align"><img class="responsive-img" src="assets/img/logo-1.png"/></div>
  </div>
</div>
<div class="w-100 grey lighten-4 p-top-5 p-bottom-5">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="row">
          <div class="col s12">
            <h5 class="text-primary">¿Quiénes somos?</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m9">
        <div class="row">
          <div class="col s12">
            <p class="text-justify">
              Milagros del Rincón somos un Albergue para mascotas localizado en el municipio
              de Purísima del Rincón, Guanajuato. Nos dedicamos al cuidado y rehabilitación de todas
              aquellas mascotas que han sido cruelmente agredidas y abandonadas por el ser humano.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12 m3">
      <div class="row">
        <div class="col s12">
          <h5 class="text-primary">Objetivo</h5>
        </div>
      </div>
    </div>
    <div class="col s12 m9">
      <div class="row">
        <div class="col s12">
          <p class="text-justify">
            Recoger, rehabilitar y dar en adopción a aquellas mascotas en situación de calle, abandono
            y maltrato, asegurándoles una mejor calidad de vida; así mismo el crear conciencia sobre
            la importancia y respeto hacia todos los animales, promoviendo la adopción y esterilización.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-100 grey lighten-4 p-top-5 p-bottom-5">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="row">
          <div class="col s12">
            <h5 class="text-primary">Misión</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m9">
        <div class="row">
          <div class="col s12">
            <p class="text-justify">
              Ofrecer soluciones positivas y alentadoras para aquellas mascotas en situación de calle,
              maltrato o abandono, colaborando así con la disminución  de esta problemática que va
              desde cuestiones de salubridad y convivencia pública; alentado a la adopción de las
              mascotas ofreciéndoles un hogar y una mejor calidad de vida. Fomentar una cultura de
              respeto hacia todos los seres vivos, mediante estrategias educativas dirigidas a los ciudadanos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12 m3">
      <div class="row">
        <div class="col s12">
          <h5 class="text-primary">Visión</h5>
        </div>
      </div>
    </div>
    <div class="col s12 m9">
      <div class="row">
        <div class="col s12">
          <p class="text-justify">
            Convertirnos, a nivel municipal, en la primera asociación en alentar y participar en la
            creación de un reglamento interno respecto al maltrato animal, garantizando de esta manera
            el respeto hacia estos seres vivos, así como minimizar la población de caninos callejeros,
            promoviendo la adopción y esterilización.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-100 grey lighten-4 p-top-5 p-bottom-5">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="row">
          <div class="col s12">
            <h5 class="text-primary">Valores</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m9">
        <div class="row">
          <div class="col s12"><span>- Respeto</span></div>
          <div class="col s12"><span>- Solidaridad</span></div>
          <div class="col s12"><span>- Amor</span></div>
          <div class="col s12"><span>- Compromiso</span></div>
          <div class="col s12"><span>- Responsabilidad social</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12 m3">
      <div class="row">
        <div class="col s12">
          <h5 class="text-primary">Contáctanos</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12"><span>Morelos #318 Sur, Purísima del Rincón, Guanajuato, México.</span></div>
      </div>
      <div class="row">
        <div class="col s12"><span>lezly95mn@gmail.com</span></div>
        <div class="col s12"><span>Edith1082.cc@gmail.com</span></div>
      </div>
      <div class="row">
        <div class="col s12"><a class="text-primary" href="tel:+524761129804">+52 (476) 112 9804</a></div>
        <div class="col s12"><a class="text-primary" href="tel:+524767279026">+52 (476) 727 9026</a></div>
      </div>
    </div>
    <div class="col s12 m9">
      <div class="row">
        <div class="col s12 center-align">
          <agm-map class="w-100 h-450p" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>