
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12 center-align"><img class="responsive-img" src="assets/img/logo-1.png"/></div>
  </div>
</div>
<div class="w-100 grey lighten-4 p-top-5 p-bottom-5">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="row">
          <div class="col s12">
            <h5 class="text-primary">Misión</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m9">
        <div class="row">
          <div class="col s12">
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis at erat. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Pulvinar etiam non quam lacus suspendisse faucibus. Augue interdum velit euismod in pellentesque massa placerat duis. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Risus at ultrices mi tempus imperdiet. Eget duis at tellus at urna condimentum. Aliquam purus sit amet luctus venenatis lectus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12 m3">
      <div class="row">
        <div class="col s12">
          <h5 class="text-primary">Visión</h5>
        </div>
      </div>
    </div>
    <div class="col s12 m9">
      <div class="row">
        <div class="col s12">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis at erat. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Pulvinar etiam non quam lacus suspendisse faucibus. Augue interdum velit euismod in pellentesque massa placerat duis. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Risus at ultrices mi tempus imperdiet. Eget duis at tellus at urna condimentum. Aliquam purus sit amet luctus venenatis lectus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-100 grey lighten-4 p-top-5 p-bottom-5">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="row">
          <div class="col s12">
            <h5 class="text-primary">Valores</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m9">
        <div class="row">
          <div class="col s12"><span>- Responsabilidad</span></div>
          <div class="col s12"><span>- Honestidad</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-top-5 p-bottom-5">
  <div class="row">
    <div class="col s12 m3">
      <div class="row">
        <div class="col s12">
          <h5 class="text-primary">Contáctanos</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12"><span>Morelos #318 Sur, Purísima del Rincón, Guanajuato, México.</span></div>
      </div>
      <div class="row">
        <div class="col s12"><span>info@milagros.com</span></div>
      </div>
      <div class="row">
        <div class="col s12"><span>+52 (476) 123 4567</span></div>
      </div>
      <div class="row">
        <div class="col s12"><i class="fa fa-whatsapp fa-2x"></i></div>
      </div>
    </div>
    <div class="col s12 m9">
      <div class="row">
        <div class="col s12"></div>
      </div>
    </div>
  </div>
</div>