.container.min-height-100vh
    .row.m-top-30p
        .col.s12
            h5 Configuración
    .row
        .col.s12
            mat-tab-group(mat-stretch-tabs="")
                mat-tab(label="Publicaciones")
                    app-post-admin-list
                mat-tab(label="Mascotas")
                    app-pet-admin-list
                mat-tab(label="Adopciones")
                    app-adopt-requests-admin
                // mat-tab(label="Donaciones")
                    app-donate-admin
                mat-tab(label="Artículos (donaciones)")
                    app-donate-item-admin