
<div class="container min-height-100vh">
  <div class="row m-top-30p">
    <div class="col s12">
      <h5>Configuración</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <mat-tab-group mat-stretch-tabs="">
        <mat-tab label="Publicaciones">
          <app-post-admin-list></app-post-admin-list>
        </mat-tab>
        <mat-tab label="Mascotas">
          <app-pet-admin-list></app-pet-admin-list>
        </mat-tab>
        <mat-tab label="Adopciones">
          <app-adopt-requests-admin></app-adopt-requests-admin>
        </mat-tab>
        <mat-tab label="Donaciones">
          <app-donate-admin></app-donate-admin>
        </mat-tab>
        <mat-tab label="Artículos (donaciones)">
          <app-donate-item-admin></app-donate-item-admin>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>